<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="input.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200">
   
    <div class="flex items-center justify-around mt-24">
    <div class="flex flex-col gap-0">
<img src="https://static.xx.fbcdn.net/rsrc.php/y1/r/4lCu2zih0ca.svg" class="h-28">
<h1 class="w-[34rem] text-3xl ml-[14rem]">Facebook helps you connect and share with people in your life</h1>
</div>
<div class="flex flex-col gap-4">
   <form action="login" method="post">
<div class=" gap-5 flex flex-col bordeer p-4 shadow-2xl  bg-white w-[28rem]">
    <h1 class="text-center text-2xl">Login Here</h1>
    <div class="border-2 h-13 w-[24rem] p-2 visited: border-blue-400">
    <input type="text" placeholder="Email address or Phone number" class=" text-lg h-10 w-64">
</div>
<div class="border-2 border-blue-300 items-center h-13 p-2 w-[24rem] ">
    <input type="password" placeholder="Password" class="text-xl h-10 w-64 border-none">
</div>
<div class="border-2 border-black bg-[#1877f2] p-1 text-center w-[24rem]">
    <button class="text-3xl ">Log in</button>
</div>
</form>
<div class="flex text-green-500 justify-center items-center">
    <p>Forget Password ?</p>
</div>

<hr>
<div class="flex rounded-md border-2 bg-green-500 text-xl justify-center mx-4 p-2 items-center">
    <a href="/signup">Create Account</a>
</div>
</div>
<div class="ml-4">
<h3><b>Create a Page</b> for a celebrity, brand or business.</h3>
</div></div>
</div>
</body>
</html>